@charset "UTF-8";
@import url(style_reset.css);

div#wrap {
    width: 800px;
    height: 300px;
    padding: 20px;
    border: 1px solid #000;
    margin: 20px auto;
}

nav#gnb {
    padding: 10px;
    /* border: 1px solid #000;*/
}

/*ul#mainMenu {
    border: 1px solid #0f0;
}*/

li.mainLi {
    /* border: 1px solid #f80;*/

    position: relative;
}

#gnb a {
    width: 150px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;

    border: 1px solid #aaa;

    display: inline-block;
}

#gnb ul.subMenu {
     display: none;

    position: absolute;
}

#gnb li.mainLi:hover>a,
#gnb li.subLi>a:hover {
    color: #fff;
    background-color: #08f;
}
